<!DOCTYPE html>
<html>
  <head>
    <title>Epic Chat!</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; position: relative; min-height: 100vh; background-color: lightslategray }
        form { display: inline-flex; background: rgb(121, 118, 118); height: 2.5rem; position: absolute; bottom: 0; width: 100%; border-color: #000; border-top-style: solid; border-top-width: 1px;}
        form input { border-style: solid; border-width: 1px; padding: 10px; width: 90%; }
        form button { width: 10%; background: rgb(86, 101, 235); border: none; padding: 10px; }
        #messages { list-style-type: none; margin: 0; padding-bottom: 2.5rem; }
        #messages li{ padding: 5px 10px; background: white}
        #messages .message {background: lightgray}
        #messages .message:nth-child(odd) { background: darkgray; }
        
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/markdown-it@12/index.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/markdown-it-emoji@2/dist/markdown-it-emoji.js"></script>
 
    <script src="scripts/purify.min.js"></script>
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="/" method="POST" id="chatForm">
      <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="type your message here..." > </input><button>Send</button>
    </form>
    <script>
            var md = window.markdownit('zero').use(window.markdownitEmoji).enable(['image', 'strikethrough', 'emphasis', ''])



            var messageSound = new Audio("media/Message_Sound.wav");
            var joinleaveSound = new Audio("media/JoinedLeave.wav");
            var joinedSound = new Audio("media/Join_Sound.wav");

            var username;

            var socket = io.connect(location.host);
            function clean(dirty) {
              var clean = DOMPurify.sanitize(dirty);
              return clean;
            }
            // submit text message without reload/refresh the page
            $('form').submit(function(e){
                e.preventDefault(); // prevents page reloading
                if ($('#txt').val().startsWith("/")) {
                  var command = $('#txt').val()
                  command = command.substring(1, command.length)
                  if (command == "nick") {
                    var temp = prompt('Change your nickname!', username);
                    if (typeof(temp) == 'undefined' || typeof(temp) == "object") {
                      return
                    }
                    username = temp
                    socket.emit('nickname', username);
                  } else {
                    switch (command) {
                      case "shrug": 
                        socket.emit('chat_message', '¯\\_(ツ)_/¯')
                        break;
                      case "clear":
                        $('#messages').empty()
                        break;
                      case "help":
                        $('#messages').append($('<li>').html("Client Side Commands: <br> /clear - Clears the chat"));
                      default:
                        socket.emit('command', command);
                    }
                  }
                } else {
                  var text = $('#txt').val()
                  text = md.renderInline(text)
                  socket.emit('chat_message', text);
                }
                $('#txt').val('');
                return false;
            });

            // When someone sends a message
            socket.on('chat_message', function(username, message){
                $('#messages').append($('<li class="message">').html("<strong>" + clean(username) + "</strong>"+ " : " + clean(message)));
                if (document.hidden) {
                  document.title = clean(username) + " sent a message."
                  messageSound.play()
                }
                document.body.scrollIntoView(false);
            });
            // When you get feedback from the command you ran
            socket.on('command_feedback', function(msg){
                console.debug(msg)
                $('#messages').append($('<li class="feedback">').html(clean(msg)));
                document.body.scrollIntoView(false);
            });

            socket.on('trusted_command_feedback', function(msg){
                console.debug(msg)
                $('#messages').append($('<li class="feedback">').html(msg));
                document.body.scrollIntoView(false);
            });

            // When someone connects
            socket.on('user_connected', function(username) {
                $('#messages').append($('<li class="feedback">').html("🟢 " + clean(username) + " connected"));
                if (document.hidden) {
                  document.title = clean(username) + " joined!"
                  joinleaveSound.play()
                }
                document.body.scrollIntoView(false);
            });
            
            //When someone leaves
            socket.on('user_disconnected', function(username) {
                $('#messages').append($('<li class="feedback">').html("🔴 " + clean(username) + " disconnected"));
                if (document.hidden) {
                  document.title = clean(username) + " left!"
                  joinleaveSound.play()
                }
                document.body.scrollIntoView(false);
            });
            
            //When someone changes their nickname
            socket.on('user_changed_nickname', function(oldname, newname) {
                $('#messages').append($('<li class="feedback">').html(clean(oldname) + " is now " + clean(newname)));
                if (document.hidden) {
                  document.title = clean(oldname) + " changed name."
                  joinleaveSound.play()
                }
                document.body.scrollIntoView(false);
            });
            
            
            function resetTitle() {
              if (!document.hidden) {
                document.title = "Epic Chat!"
              }
            }

            socket.on('first_join', function(){
              username = prompt('Please tell me your name');
              socket.emit('join', username);
              joinedSound.play()
            })

            socket.on('join', function(usernamee){
              username = usernamee
              socket.emit('join', username);
              joinedSound.play()
            })
            // ask username

            document.addEventListener("visibilitychange", resetTitle, false);

    </script>
  </body>
</html>